@tailwind base;
@tailwind components;
@tailwind utilities;

.input-date::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  opacity: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.input-date::-webkit-calendar-picker {
  background: transparent;
  bottom: 0;
  opacity: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
