<div
  class="min-h-screen flex-1 flex flex-col border-r border-gray-200 bg-white pt-0 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-700"
>
  <!-- logo -->
  <div class="py-5">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="/">
      E-library
    </a>
  </div>

  <div class="flex-1 flex flex-col py-4 overflow-y-auto">
    <div class="flex-1 px-3 divide-y space-y-1 dark:divide-gray-600">
      <ul class="space-y-2 pb-2">
        <li>
          <form action="#" method="GET" class="lg:hidden">
            <label for="mobile-search" class="sr-only">Search</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-5 h-5 text-gray-500"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                  ></path>
                </svg>
              </div>
              <input
                type="text"
                name="email"
                id="mobile-search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-600 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600"
                placeholder="Search"
              />
            </div>
          </form>
        </li>

        <li>
          <v-link-item href="/">
            <v-icon-dashboard></v-icon-dashboard>

            <template v-slot:body>
              <span>Dashboard</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/categories">
            <v-icon-categories></v-icon-categories>

            <template v-slot:body>
              <span>Categories</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/books">
            <v-icon-product></v-icon-product>

            <template v-slot:body>
              <span>Books</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/authors">
            <v-icon-user></v-icon-user>

            <template v-slot:body>
              <span>Authors</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/publishers">
            <v-icon-sign-in></v-icon-sign-in>
            <template v-slot:body>
              <span>Sign In</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/users">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>Users</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/cities">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>Cities</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/offers">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>Offers</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/orders">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>Orders</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/user-payments">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>User Payments</span>
            </template>
          </v-link-item>
        </li>

        <li>
          <v-link-item href="/user-addresses">
            <v-icon-signup></v-icon-signup>
            <template v-slot:body>
              <span>User Addresses</span>
            </template>
          </v-link-item>
        </li>
      </ul>

      <div class="space-y-2 pt-2"></div>
    </div>
  </div>
</div>
